<!DOCTYPE html>
<html dir="ltr" lang="en-GB">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    
    {{ghost_head}}

    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
        <div class="ie">
            You should really think about <a href="http://browsehappy.com/">upgrading to a better browser</a> to improve your viewing experience.
        </div>
    <![endif]-->

</head>

<body class="{{body_class}}">

    <!-- Accessibility Skip Link for Keyboard Users -->
    <a href="#content" class="skip-to-content">skip to main content</a>

    {{{body}}}

    <footer class="site-footer spacer" role="contentinfo">
        <div class="wrapper">
            <p class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</p>
            <p class="ghost">Proudly published with <a href="https://ghost.org">Ghost</a></p>
        </div>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="/js/base.js"></script>

</body>

</html>
