<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif' rel='stylesheet' type='text/css'> 
	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{{ghost_head}}
</head>
<body class="{{body_class}}">

	{{{body}}}

	{{ghost_foot}}

	{{>footer}}

	{{>analytics}}

</body>
</html>